AUTH_SECRET=                     # openssl rand -base64 32
AUTH_SPOTIFY_ID=                 # Spotify app client ID
AUTH_SPOTIFY_SECRET=             # Spotify app client secret
TYPESAFE_API_KEY=                # Jev API key from console.typesafe.ai
ANTHROPIC_API_KEY=               # Claude API key
